[Desktop Entry]
Type=Application
Name=Arnis
Comment=Generate cities from real life in Minecraft
Comment[lt]=Sugeneruokite tikrovės miestus „Minecraft“ žaidime
Comment[de]=Generiere echte Städte in Minecraft
Comment[fr]=Générez des villes réelles dans Minecraft
Comment[es]=Genera ciudades reales en Minecraft
Comment[pt]=Gere cidades reais no Minecraft
Comment[zh_CN]=在 Minecraft 中生成现实城市
Icon=icon
Exec=arnis
Categories=Game;Education;Geoscience
Keywords=OSM;OpenStreetMap;Minecraft
StartupWMClass=arnis
