[package]
name = "arnis"
version = "2.1.2"
edition = "2021"
description = "Arnis - Generate real life cities in Minecraft"
homepage = "https://github.com/louis-e/arnis"
repository = "https://github.com/louis-e/arnis"
license = "GPL-3.0"
readme = "README.md"

[profile.release]
lto = "thin"

[build-dependencies]
tauri-build = "2"

[dependencies]
clap = { version = "4.1", features = ["derive"] }
colored = "2.1.0"
dirs = "5.0.1"
fastanvil = "0.31.0"
fastnbt = "2.5.0"
flate2 = "1.0"
fnv = "1.0.7"
fs2 = "0.4"
geo = "0.29.3"
indicatif = "0.17.8"
itertools = "0.14.0"
log = "0.4.22"
once_cell = "1.19.0"
rand = "0.8.5"
reqwest = { version = "0.12.7", features = ["blocking", "json"] }
rfd = "0.15.1"
semver = "1.0.23"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tauri = "2"
tauri-plugin-log = { version = "2.2.0" }
tauri-plugin-shell = "2"
tokio = { version = "1.42.0", features = ["full"] }
